<!doctype html>
<html>
<body>
    <center>
        <h1>Compare Citations!</h1>
        <form method="POST">
            <input name="add_researcher">
            <input type="submit" value="Add researcher">
        </form>
        <div>Loading is slow, please be patient :)</div>
        <form method="POST">
            <input type="submit" name="reset_button" value="Reset">
        </form>
        <div id='chart' class='chart' style='width: 70%'></div>
    </center>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  Plotly.plot('chart',graphs,{});
</script>

</html>
