<!doctype html>
<html>
<body>
    <center>
        <h1>Compare Scholars by Citations!</h1>
        <form method="POST">
            <input name="add_researcher">
            <input type="submit" value="Add researcher">
        </form>
        <div id="profiles">Profiles placeholder</div>
        <div style="margin-top: 10px; margin-bottom: 10px">Loading can be a bit slow, please be patient :)</div>
        <!-- TODO
        <form method="POST">
            <input type="submit" name="first_author" value="Only first-author works">
        </form> 
        -->
        <form method="POST">
            <input type="submit" name="reset_button" value="Reset">
        </form>
        <div id='bar' class='chart' style='height: 10%; width: 50%'></div>
        <div id='timeline' class='chart' style='height: 10%; width: 50%'></div>
    </center>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
    // author suggestions
    // TODO this doesn't work!!
    // var profiles = {{profile_names}};
    document.getElementById("profiles").innerHTML = 'lul';
    // bar plot
    var bar = {{bar | safe}};
    Plotly.plot('bar', bar, {});
    // line plot
    var timeline = {{timeline | safe}};
    Plotly.plot('timeline', timeline, {});
</script>

</html>
