<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>Compare Scholars</title>
<body>
    <center>
        <h1>Compare Researchers by Citations!</h1>
        <!-- Dropdown container -->
        <div class="dropdown">
            <form method="POST" id="input_form">
                <input name="add_researcher" id="input_researcher" class="dropbtn" autofocus>
                <input type="submit" value="Add researcher" id="submit_button">
            </form>
        </div>
        <!-- <div id="profiles" class="description">{{profiles}}</div> -->
        <div class="description">Loading can be a bit slow, please be patient :)</div>
        <form method="POST">
            <input type="submit" name="reset_button" id="reset_button" value="Reset">
        </form>
        <div id='bar' class='chart'></div>
        <div id='timeline' class='chart'></div>
    </center>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>

    function show_suggestions() {
        /* Toggle show/hide */
        document.getElementById("myDropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
        // Close the dropdown if the user clicks outside of it
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

    var profile_list = {{ profile_names | safe }};
    // multiple profiles
    if (profile_list.length > 1) {
        // create dropdown div
        var dropdown = document.createElement("div");
        dropdown.id = "myDropdown";
        dropdown.setAttribute("class", "dropdown-content");
        // add inner links
        for (var p in profile_list) {
            let option = document.createElement('a');
            option.setAttribute("class", "option");
            // workaround for instant evaluation of 'name' parameter
            option.innerHTML = profile_list[p];
            (function(name){
                option.onclick = function () {
                    document.getElementById("input_researcher").value = name;
                    document.getElementById("submit_button").click();
                };
            })(profile_list[p]);
            dropdown.appendChild(option);
        }
        // append to document
        var input_form = document.getElementById("input_form");
        input_form.appendChild(dropdown);
        // Show dropdown menu
        document.getElementById("input_researcher").focus();
        document.getElementById("input_researcher").value = '';
        show_suggestions();
    } else { // single profile

    }

    // bar plot
    var bar = {{bar | safe}};
    Plotly.plot('bar', bar, {});
    // line plot
    var timeline = {{timeline | safe}};
    Plotly.plot('timeline', timeline, {});
</script>

</html>
